*{
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}

body {
    background: #1a273f;
}

#world-map-container {
    width: 100%;
    height: 100%;
    background-color: #1a273f !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.message-box{
    min-height: 100px;
}
.message-box img{
    height: 70px !important;
}
#time-slide {
    width: 1000px;
    margin-left: 10px;
}

.slider-container {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
}
.slider-container .slider-inner{
    width: 1000px;
    margin: 0 auto;
}
.slider-container .slider-label {
    color: #666;
    font-size: 12px;

}

.slider-container .slider-label .start {
    float: left;
}

.slider-container .slider-label .end {
    float: right;
}

.slider.slider-horizontal .slider-selection {
    background-image: linear-gradient(to bottom, #0e90d2, #1a273f);
}

.footer {
    color: #ccc;
    margin-top: 50px;
    border-top: 1px dashed #222;
    font-size: 16px;
    width: 1000px;
    margin-left: 10px;
    padding-top: 10px;
}

.footer .creator {
    color: #999;
    font-size: 12px;
}

.gm-style-cc{
    display: none !important;
}

#stat-holder{
    position: absolute;
    bottom: 0;
    left:0 ;
    right:0;
}

.start-inner{

}
#stat-holder table{
    margin: 0 auto;
    padding: 5px 10px 0;
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
}

#stat-holder table td{
    font-family: Helvetica;
    padding: 1px 7px 2px;
}

#stat-holder table td label, #stat-holder table thead td
{
    font-weight: bold;
    color: #696969;
}

