body {
  background: #0e151e;
}

#world-map-container {
  position: relative;
  margin: 10px;
}

#world-map-container .message-box {
  position: absolute;
  z-index: 1000;
  color: black;
  font-family: 'Lucida Console', Monaco, monospace;
  background-color: white;
  padding: 5px;
  border-radius: 5px;  
  font-size: 12px;
  opacity: 0.8;
}

#world-map-container .message-box .time {
  font-size: 9px;
  line-height: 100%;
  color: #999;
}

#world-map-container .message-box .text {
  margin-top: 3px;
}

#time-slide {
  width: 1000px;
  margin-left: 10px;
}

.slider-container {
  margin-left: 10px;
  width: 1000px;
}

.slider-container .slider-label {
  color: #666;
  font-size: 12px;
  position: relative;
}

.slider-container .slider-label .start {
  position: absolute;
  left: 0;
}
.slider-container .slider-label .end {
  position: absolute;
  right: 0;
}

.slider.slider-horizontal .slider-selection {
  background-image: linear-gradient(to bottom, #0e90d2, #1a273f);
}

.footer {
  color: #ccc;
  margin-top: 50px;
  border-top: 1px dashed #222;
  font-size: 16px;
  width: 1000px;
  margin-left: 10px;
  padding-top: 10px;
}

.footer .creator {
  color: #999;
  font-size: 12px;
}